
#header{
    width:100%;
    height:290px;
}

#container{
text-align: center;
}

.title{
    font-size: 60px;
    text-align: center;
    color:red;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}

#instructions{
    text-align:center;
    font-size:30px;
    color:white;
    font-weight: bold;
}

#current_word{
    font-size:50px;
    text-align:center;
    color:white;
    border:5px dashed  lightcoral ;


    

}
.border{
    border:5px dashed lightcoral;
    width:30%;
}

#current{
    font-size:30px;
    text-align:center;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
   
    

}

#guesses_left{
    font-size:30px;
    color:white;
    font-weight: bold;
}


#number{
    font-size:30px;
    font-weight: bold;
    color:black;
    
}

#letter{
    font-size:30px;
    font-weight: bold;
    color: black;
}

#letters_guessed{
    font-size:30px;
    color:white;
    font-weight: bold;
}

#win_count{
    text-align:center;
    font-size:30px;
    color:white;
    font-weight: bold;
}

.result{
    font-size:30px;
    color:black;
}

#loss_count{
    font-size:30px;
    color:white;
    font-weight: bold;
}
